/*
 *	Cortex-A9-->| | 
 *				|l|
 *	Cortex-A9-->|o|-->serial controller(two serial,address->1:0x101F1000 2:0x101F2000)
 *				|c|
 *				|a|-->spi controller(addres:0x1017000)
 *				|l|
 *				| |-->gpio controller(addres:0x101F3000)
 *				|b|
 *				|u|-->interrupt controller(address:0x1014000)
 *				|s|
 *				| |-->external bus bridge--->| |
 *				|_|							 |e|
 *											 |x|-->SMC91111(address:0x10100000)
 *											 |t|
 *											 |e|-->NOR Flash(64MB,address:0x30000000)
 *											 |r|
 *											 |n|-->I2C controller--->| |
 *											 | |(address:0x10160000) |I|
 *											 |b|					 |I|
 *											 |u|					 |C|
 *											 |s|					 | |-->DS1338(I2C address:0x58)
 *											 |_|					 |b|
 *																	 |u|
 *																	 |s|
 *																	 |_|
 */
 
 / {
		compatible = "acme,coyotes-revenge";
		#address-cells = <1>;
		#size-cells = <1>;
		interrupt-parent = <&inc>;
		
		cpus {
			#address-cells = <1>;
			#size-cells = <0>;
			cpu@0 {
				compatible = "arm,cortex-a9";
				reg = <0>;
			};
			cpu@1 {
				compatible = "arm,cortex-a9";
				reg = <1>;
			};
		};
		
		serial@101f1000 {
			compatible = "arm,p1011";
			reg = <0x101f1000 0x1000>;
			interrupts = <1 0>;
		};
		
		serial@101f2000 {
			compatible = "arm,p1011";
			reg = <0x101f2000 0x1000>;
			interrupts = <2 0>;
		};
		
		gpio@101f3000 {
			compatible = "arm,p1061";
			reg = <0x101f3000 0x1000
				   0x101f4000 0x0010>;
			interrupts = <3 0>;
		};
		
		intc: interrupt-controller@10140000 {
			compatible = "arm,p1190";
			reg = <0x10140000 0x1000>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};
		
		spi@10115000 {
			compatible = "arm,p1022";
			reg = <0x10115000 0x1000>;
			interrupts = <4 0>;
		};
		
		external-bus {
			#address-cells = <3>;
			#size-cells = <1>;
			ranges = <0 0 0x10100000 0x10000	//chipselect 1,Ethernet
					  1 0 0x10160000 0x10000	//chipselect 2,i2c controller
					  2 0 0x30000000 0x1000000>;//chipselect 3,NOR Flash
			
			ethernet@0,0 {
				compatible = "smc,smc91c111";
				reg = <0 0 0x1000>;
				interrupts = <5 2>;
			};
			
			i2c@1,0 {
				compatible = "acme,a1234-i2c-bus";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1 0 0x1000>;
				interrupts = <6 2>;
				rtc@58 {
					compatible = "maxim,ds1338";
					reg = <58>;
					interrupts = <7 3>;
				};
			};
			
			flash@2,0 {
				compatible = "samsung,k8f1315ebm", "cfi-flash";
				reg = <2 0 0x4000000>;
			};
		};
 };
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 