source "drivers/test-device/hello/Kconfig"

source "drivers/test-device/i2c/Kconfig"

source "drivers/test-device/gpio/Kconfig"

source "drivers/test-device/gpio_ctrl/Kconfig"

source "drivers/test-device/input/Kconfig"

source "drivers/test-device/timer/Kconfig"

source "drivers/test-device/timer_list/Kconfig"
